body {
    color: blue;
    background-color: darksalmon;
    font-weight: bold;
}

header {
    background-color: cornflowerblue;
    text-align: center;
    border: 15px solid rgb(165, 1, 56);
    margin: auto;
    margin-bottom: 1em;
    padding: 1em;
    width: 50%;
    height: 60%;
    box-sizing: border-box;
    border-radius: 30px;
}

header img {
    vertical-align: center;
}

header h1 {
    width: 40%;
    margin: auto;
    margin-bottom: 1em;
}

nav {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.3rem;
    border: 20px rgb(20, 192, 235);
    border-radius: 40px;
    border-style: outset;
    margin-top: 0.75em;
    width: 50%;
    margin: auto;
}

nav ul, nav li {
    display: inline;
}

a {
    text-decoration: none;
}

a:visited {
    color: chocolate;
}

a:focus {
    color: chartreuse;
}

a:hover {
    color: deeppink;
}

a:active {
    color: green;
}

article {
    margin: auto;
    width: 80%;
}

.menu-section-title {
    color: darkred;
    letter-spacing: 6px;
    text-shadow: 2px 2px 2px blueviolet;
    text-transform: uppercase;
    text-align: center;
    transform: translate();
    transform: rotate();
    transform: scale();
    transform: skew(-20deg);
    background-color: rgb(104, 225, 149);
    border: 8px double black;
    border-radius: 20px;
    padding: 0.5em;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    max-width: 300px;
    width: 60%;

}

.menu-subsection-title {
    color: rgb(99, 21, 255);
    letter-spacing: 4px;
    text-shadow: -2px 2px 2px rgb(3, 23, 84);
    margin-top: 1.5em;
    margin-bottom: 0.8em;

}

h1 {
    font-size: 2.5rem;
    font-style: oblique;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(249, 13, 13);
    border: 10px dotted yellow;
    border-radius: 40px;
}

h2,
h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul {
    list-style: none;
    padding-left: 0px;
    margin-top: 0.8em;
    margin-bottom: 1.5em;
}

ul img {
    vertical-align: middle;
}

li {
    margin-bottom: 0.5em;
    color: aqua;
    text-transform: lowercase;
    font-size: larger;
    transform: translateX(2em);
    letter-spacing: 2px;
}

.salad-item {
    color: darkgreen;
}

.soup-item {
    color: darkslategrey;
}

article p {
    color: darkmagenta;
}

p {
    font-size: 0.9rem;
}