body {
    color: rgb(252, 187, 9);
    background: linear-gradient(64deg, #833ab4 22%, #fd1d1d 50%, #fcb045 75%);
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

header {
    background-image: url(../images/restaurant.jpg);
    background-size: contain;
    text-align: center;
    height: 125px;
    width: 70%;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 30px;
    padding-top: 25px;
    opacity: 0.8;
}

h1 {
    margin-bottom: 0.5em;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-shadow: 3px 3px 3px rgb(17, 64, 141);
    font-size: 2.5rem;
    font-style: italic;

}

h2 {
    text-transform: lowercase;
    letter-spacing: 1px;
    text-shadow: 3px 2px 3px rgb(8, 59, 143);

}

p {
    font-size: 0.9rem;
    line-height: 1.5em;
}


a {
    text-decoration: none;
}

a:visited {
    color: rgb(113, 17, 0);
}

a:focus {
    color: chartreuse;
}

a:hover {
    color: rgb(94, 20, 255);
}

a:active {
    color: green;
}


a:hover {
    cursor: pointer
}