nav {
    /* position: sticky; */
    /* top: 0px; */
    /* width: 100%; */
    /* text-align: center; */
    /* z-index: 1; */
}

.appetizers-nav ul {
    /* display: inline-block; */
}

.appetizers-nav li {
    /* display: block; */

}

.desserts-nav ul,
li {
    /* text-align: left; */
}

.appetizers-nav ul,
li {
    /* text-align: left; */
}

.mains-nav ul,
.drinks-nav ul {
    /* padding-left: 0px; */
}

.mains-nav li,
.drinks-nav li {
    /* padding-left: 0px; */
    /* text-align: center; */
}


#univ-nav {
    /* position: absolute; */
    /* top: 0px; */
    /* left: 0px; */
    /* padding-left: 40px; */
    /* vertical-align: text-top; */

}


main {
    width: 70%;
    margin: auto;
    text-align: justify;
}

h1 {
    text-align: center;
}

body>h1 {
    color: darkcyan;
}

h2+h3 {
    color: indigo;
}

h3 {
    text-shadow: 3px 3px 3px rgb(17, 64, 141);
}

p {
    color: rgb(84, 37, 2);
}

img {
    clear: left;
    float: left;
    padding-right: 1em;
    padding-top: 0.3em;
    padding-bottom: 0.5em;
    width: 150px;
    height: 165px;
}

.container {
    position: relative;
}

#flowers {
    position: absolute;
    height: 50px;
    width: 50px;
    top: 0;
    right: 0;
    padding: 0;

}

@media screen and (width > 800px) {

    nav {
        /* position: fixed; */
        /* top: 0px; */
        /* left: 0px; */
        /* box-sizing: border-box; */
        /* width: 20%; */
        /* height: 100%; */
        /* margin-left: 0.5em; */
        /* border-right: 1px solid black; */
    }

    nav ul {
        /* display: block; */
        /* margin: 0.5em; */
        /* padding-left: 0px; */
    }

    #univ-nav {
        /* position: static; */
        /* padding-left: 0px; */
        background-repeat:  ;
    }

    main {
        margin-left: 23%;
    }
}