body {
    font-family: 'Geologica', sans-serif;
    color: rgb(252, 187, 9);
    /* background: linear-gradient(64deg, #833ab4 22%, #fd1d1d 50%, #fcb045 75%); */
    background-color: rgba(219, 141, 31);
    font-weight: bold;
}

header {
    background-image: url(../images/restaurant.jpg);
    background-size: contain;
    text-align: center;
    height: 125px;
    box-sizing: border-box;
    border: 2px solid black;
    padding-top: 25px;
    opacity: 0.8;
}

nav {
    background-color: rgb(180, 110, 12);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: 2;
    float: none;
    width: 100%;
    height: auto;
    vertical-align: top;
    text-align: center;
}

nav ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-transform: uppercase;
}

nav li {
    display: inline-block;
    padding: 4px;
}

nav li a {
    display: block;
}

@media screen and (width > 800px) {
    nav {
        background-color: transparent;
        float: left;
        width: 15%;
        height: 100%;
    }

    nav li {
        display: block;
    }
}

nav li a:hover {
    background-color: #182848;
    color: white;
}

.home {
    box-sizing: border-box;
    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
    border: 5px ridge rgb(255, 199, 46);
    box-shadow: 0px 0px 50px #43a6df;
    border-radius: 40px;
    padding: 1em;
    padding-top: 0;
    margin: auto;
    width: 70%;
}

h1 {
    text-transform: uppercase;
    letter-spacing: 3px;
    text-shadow: 3px 3px 3px rgb(17, 64, 141);
    font-size: 2.5rem;
    font-style: italic;

}

h2 {
    letter-spacing: 1px;
    text-shadow: 3px 2px 3px rgb(8, 59, 143);

}

p {
    font-size: 0.9em;
    line-height: 1.7em;
}


a {
    text-decoration: none;
}

a:visited {
    color: rgb(113, 17, 0);
}

a:focus {
    color: chartreuse;
}

a:hover {
    color: rgb(255, 204, 20);
}

a:active {
    color: green;
}


a:hover {
    cursor: pointer
}